/* 
primary color: #800000 (maroon), #8f8f8f (grey), #f5deb3 (wheat), #000000 (black)

secondary color: #ffa600

Fonts: Gill Sans (sans-serif), Optima (sans-serif), Helvetica (sans-serif).

Font size: 12-16pt on a mobile screen, 15-19pt on a tablet, and 16-20pt on a desktop computer screen.(https://www.toptal.com/designers/typography/web-typography-infographic).
*/

html, body {
  height: 100%;
  width: 100%;

}

h2 {
  font-family: verdana, sans-serif;
  color: rgb(66, 245, 123);
}

h3 {
  color: black;
}
/* used for Day column. Ex, Monday, Tuesday, Wednesday, Thursday, Friday at the top of the calendar
*/

h4 {
  color: white;
}
/* used for date number indicator at the top left of the box
*/


.calendar {
  background-color: gray;
  display: table;
  width: 100%;
  
}

.calendar-day {
}

.calendar-row{
  display: flex;
  justify-content: space-between;
  background-color: darkgrey;
  width: 18.5%;
  padding: 2px;
  
}

h3-2{
  color: white;
  font-size: 30px;
  font-weight: bold;
}

h4-2{
  font-size: 20px;
}

.weekly-box{
  background-color: maroon;
  width: 585px;
  height: 918px;
  border-radius: 8px;
}

.month-name{
  /* background-color: #b8b8b8;
  border: 2px solid black; */
  color: white;
  text-align: center;
}

.h4-2{
  color: black;
}

.day-container{
  background-color: white;
  margin: auto;
  width: 529px;
  height: 159px;
  border-radius: 8px;
  margin-top: 11px;
}

.day-name{
  /* background-color: #8f8f8f;
  border: 2px solid red; */
  margin: 5px;
  text-align: center;
}

.boxes{
  /* background-color: #454545;
  border: 2px solid orange; */
  margin: 5px;
}

