/* 
primary color: #800000 (maroon), #8f8f8f (grey), #f5deb3 (wheat), #000000 (black)

secondary color: #ffa600

Fonts: Gill Sans (sans-serif), Optima (sans-serif), Helvetica (sans-serif).

Font size: 12-16pt on a mobile screen, 15-19pt on a tablet, and 16-20pt on a desktop computer screen.(https://www.toptal.com/designers/typography/web-typography-infographic).

Small Breakpoint: 400px
Medium Breakpoint: 900px
Large Breakpoint: 1200px

//class intitlization
.Avatar{
  
}
//if the screen is between 0px and 400px, than do this
@media only screen and (min-width:0px) and (max-width:400px){
  .Avatar{
    //this example
    background-color: purple;
  }
}
//if the screen is between 400px and 900px, than do this
@media only screen and (min-width:400px) and (max-width:900px){
  .Avatar{
    //this example
    background-color: red;
  }
}
//if the screen is larger than 900px, than do this
@media only screen and (min-width:900px){
  .Avatar{
    //this example
    background-color: blue;
  }
}


*/

html, body {
  background-image: url("https://freepngimg.com/save/30788-claw-scratches/420x420");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50rem;
  background-color: #e8e8e8;
  height: 100%;
  width: 100%;
}

.header {
  background-image: url("https://s3-alpha-sig.figma.com/img/7e22/487d/7cdef87bee29426745caeeb1ddfab8e3?Expires=1685923200&Signature=Q1w0ga5r3IsUuiweBNKIWm8z8cT1aWrDTHY8vFpoFjB7iwC7rWSQcUMzsXbAl9Bx24LFQgl57m0LIObC6Ia9Iju1r8bcD3RGeTydohloyD~n5S0p3g6pudI7p-bGnvwiGPpUXynRO3bzaVf0ii58M-dG3zciWNvstRaQd0qLn0VxCxV4za4HubZDBDLQLgoS0K36rfeT4TmxvB~R7G1wKMxywdu1gb3akoGxAKuasxDXP6gaRY8oZhcUbX3GRuQ1PozHXY58F0JwqDJoVxZxhXW2rKO7HOUElklImpFpr-zmXaOYvWcp2iD8f7MOrJuUybmJ0jaukdd3DIFLchblsA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
  background-repeat: no-repeat;
  font-family: verdana, sans-serif;
  font-size: 50px;
  -webkit-text-stroke: 3px black;
  color: white;
  font-weight: bolder;
  text-align: center;

}

.content{
  display: flex;
  flex-direction: row;
}

.left_content{
  width: 25%;
  max-width: 15rem;
  min-width: 10%;
  padding: 0.5rem;
}

.right_content{
  flex-grow: 1;
  padding: 1rem 2rem;
}


h2 {
  font-family: verdana, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: grey;
}



h3 {
  color: white;
  font-size: 30px;
}
/* used for Day column. Ex, Monday, Tuesday, Wednesday, Thursday, Friday at the top of the calendar
*/


h4 {
  color: white;
  font-size: 30px;
}
/* used for date number indicator at the top left of the box
*/

.h5 {
  color: white;
  font-size: 1px;
}


.calendar {
  background-color: gray;
  display: table;
  width: 100%;
  
}



.calendar-row{
  display: flex;
  justify-content: space-between;
  background-color: darkgrey;
  width: 18.5%;
  padding: 2px;
  
}