html, body {
  height: 100%;
  width: 100%;
}

h2 {
  font-family: verdana, sans-serif;
  color: rgb(66, 245, 123);
}

h3 {
  color: black;
}
/* used for Day column. Ex, Monday, Tuesday, Wednesday, Thursday, Friday at the top of the calendar
*/

h4 {
  color: white;
}
/* used for date number indicator at the top left of the box
*/


.calendar {
  background-color: gray;
  display: table;
  width: 100%;
  
}

.calendar-row {
  display: flex;
  justify-content: space-between;
  
}

.calendar-day{
  border: 2px solid black;
  background-color: darkgrey;
  width: 18.5%;
  padding: 2px;
  
}



